<main class="body-page">
    <div class="row mt-3 header">
        <div class="col-md-6 col-xs-12">
          <div class="input-div">
            <form [formGroup]="form">
              <i class="bi bi-search"  (click)="searchCountry()"></i>
              <input formControlName="term" (keydown.enter)="searchCountryPress($event)" class="input-search" type="text" placeholder="Search for a country ...">
            </form>            
          </div>
        </div>
        <div class="col-6 filter-col">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Filter by {{region}}
                </button>
                <ul class="dropdown-menu">
                  <li (click)="searchRegion('africa')"><a class="dropdown-item" href="#">África</a></li>
                  <li (click)="searchRegion('america')"><a class="dropdown-item" href="#">Ameríca</a></li>
                  <li (click)="searchRegion('asia')"><a class="dropdown-item" href="#">Asia</a></li>
                  <li (click)="searchRegion('europe')"><a class="dropdown-item" href="#">Europe</a></li>
                  <li (click)="searchRegion('oceania')"><a class="dropdown-item" href="#">Oceania</a></li>
                </ul>
              </div>
        </div>
        
    </div>

    <div class="container mt-3">
      <div class="row">
        <div class="col-country col-md-4 col-sm-6 mt-3" *ngFor="let country of countries">
          <app-card [country]="country"></app-card>
        </div>        
      </div>
      
    </div>
</main>

